{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences.title }}
  </h2>

  {% if experiences.intro %}
  <div class="intro">
    {{ experiences.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for experience in experiences.papers %}
  <div class="item">
    {% if experience.link %}
      <li><a href="{{ experience.link }}">{{ experience.title }}</a></li>
    {% else %}
      <li>{{ experience.title }}</li>
    {% endif %}
    <div class="experience-authors">{{ experience.authors }}</div>
    <div class="experience-conference">{{ experience.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

